html,
body {
  height: 100%;
}
body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 300px;
  margin: 0 auto;
  padding: 25px;
  
}

.contenedor{
  max-width:  600px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 5px 5px;
  border-radius: 8px;
  border: 5px solid black;
  padding: 10px;

}

table, th, td {
    border: 1px solid black;
    padding: 5px;
  }
.cardContainer {
  
    margin: 5px;
  }
