html,
body {
  height: 100%;
}
body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 300px;
  margin: 0 auto;
 
}

table, th, td {
    border: 1px solid black;
  }
.cardContainer {
  
    margin: 5px;
  }
