<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>React Starter</title>
</head>

<body >
  <div id="root"></div>


  <script>

const herman = {

async registrarUsuario(usuario,nombre,pass ){

  var myHeaders = new Headers();
   myHeaders.append("Content-Type", "application/json");
   
   var raw = JSON.stringify({"firstName":nombre,"password":pass});
   
   var requestOptions = {
     method: 'POST',
     headers: myHeaders,
     body: raw,
     redirect: 'follow'
   };
   
   return await  fetch(`https://6fra5t373m.execute-api.eu-west-1.amazonaws.com/development/${usuario}/lala2`, requestOptions)
     .then(response => response.text());
     

},


}

console.log(herman.registrarUsuario("lala","lala","lala"));

</script>

</html>

